.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 40px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }
}